@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

/* test */
/* In your App.css or a custom CSS file */
.perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
/* another test */
.list{
  @apply text-gray-500 text-sm mt-2 list-disc list-inside mb-4;
}
.card {
    @apply bg-white rounded overflow-hidden shadow-md relative transform transition-transform duration-500;
  }
  
  .card-inner {
    @apply w-full h-full relative transform-style-preserve-3d transition-transform duration-500;
  }
  
  .card-front {
    @apply relative w-full h-full backface-hidden;
  }
  
  .card-back {
    @apply bg-white transform rotate-y-180 absolute top-0 left-0 w-full h-full backface-hidden px-4;
  }
  
  .card.flipped .card-inner {
    @apply transform rotate-y-180;
  }
  
  .badge {
    @apply bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2 flex items-center;
  }

  /* cardback
  @apply bg-white transform rotate-y-180 absolute w-full h-full backface-hidden; */
